run = "sh _replit/run.sh"

entrypoint = "www/index.php"

modules = ["nix"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Install phpMyAdmin"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "curl -s https://files.phpmyadmin.net/phpMyAdmin/5.2.2/phpMyAdmin-5.2.2-all-languages.tar.gz | tar -xz && rm -rf www/phpmyadmin && mv -n phpMyAdmin-*-all-languages www/phpmyadmin"
