body {
  background-color:#000;
  color:#00db00;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  padding-right: 25px;
}

th {
  font-weight: bold;
  background-color:#00db00;
  color:#000;
}
